* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

#menu>li>ul,
#menu>li>ul li>ul {
    display: none;
}

#menu>li {
    display: inline-block;
    /* width: 250px; */
}

#menu li:hover>ul {
    display: block;
    width: 200px;
}

#menu,
#menu li>ul {
    background-color: gray;
}

#menu li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
}

#menu li:hover>a {
    opacity: 0.6;
}

#menu li {
    position: relative;
}

#menu li>ul {
    position: absolute;
}

#menu>li>ul {
    left: 0;
    top: 100%;
    /* khoảng cách bên dưới 100% của thằng cha */
    width: auto;
}

#menu>li>ul li>ul {
    left: 100%;
    top: 0;
}

.a>p {
    font-size: 50px;
}